<%- include("../partials/header.ejs") %>
<h1>Hello</h1>
<p>This is the Login page</p>
<p>Not have an account? <a href="/auth/register">Register</a></p>
<p>
  <a href="/auth/forgotPassword">Forgot Password?</a>
</p>
<%- include("../partials/footer.ejs") %>
